In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Graduation Rates per state based on Race

In [2]:
grad_rates = os.path.join('gradrates.csv')
grad_df = pd.read_csv(grad_rates)
grad_df.head()

,State,Average Rate,American Indian/Alaska Native,Asian/Pacific Islander,Hispanic,Black,White
0,Alabama,87.10%,90%,91%,87%,84.50%,88.60%
1,Alaska,76.10%,64%,81%,76%,74%,80.80%
2,Arizona,79.50%,67.70%,89%,76.40%,75.50%,84.00%
3,Arkansas,87.00%,87%,87%,85.70%,81.50%,89.20%
4,California,83.00%,74%,92.90%,80.00%,73.00%,88.00%

# Average Rates of SAT scores per State

In [3]:
sat_scores = os.path.join('SATscores.csv')
sat_df = pd.read_csv(sat_scores)
sat_df.head()

           State  Average New SAT Score Participation Rate
0  Massachusetts                   1130                84%
1    Connecticut                   1126                88%
2      Minnesota                   1107                 6%
3     New Jersey                   1104                79%
4       Illinois                   1101                 5%