In [40]:
# dependencies
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.plotly as py
import plotly.graph_objs as go

In [41]:
# plotly credentials
import config
username = config.username
api_key = config.api_key
plotly.tools.set_credentials_file(username=username, api_key=api_key)

### School Funding (Revenue) by State ###

In [20]:
# uploading csv and creating dataframe
rev_data = os.path.join('Resources','Stfis14_1a.csv')
rev_data_df = pd.read_csv(rev_data)
rev_data_df.head()

In [21]:
# filtering out the wanted data
rev_data_df = rev_data_df[["SURVYEAR", "STABR", "STNAME", "STR1", "R3", "STR4", "TR", "E11", "E11A"]]
rev_data_df.head()

In [22]:
# using csv file key to rename columns
renamed_df = rev_data_df.rename(columns={"SURVYEAR":"YEAR", "STABR":"ST", "STNAME":"STATE", 
                                         "STR1":"LOCAL REVENUES SUBTOTAL", 
                                        "R3":"STATE REVENUES", "STR4":"FEDERAL REVENUES SUBTOTAL", 
                                        "TR":"TOTAL REVENUES FROM ALL SOURCES", 
                                         "E11":"INSTRUCTIONAL EXPENDITURES SALARIES", 
                                        "E11A":"TEACHER SALARIES REGULAR PROGRAMS"})
renamed_df.head()

In [23]:
# school funding (revenue) by state data in map
trc = dict(type='choropleth', locations=renamed_df["ST"], locationmode='USA-states', colorscale='Greens',
          z=renamed_df["TOTAL REVENUES FROM ALL SOURCES"], colorbar = dict(
            title = "Billions of Dollars"))

layout=dict(geo=dict(scope='usa'),  title = 'School Funding (Revenue) by State')
map=go.Figure(data=[trc], layout=layout)

py.iplot(map)

### Teen Pregnancy Rate by State ###

In [25]:
# import super janky csv and create dataframe
#https://www.cdc.gov/nchs/pressroom/sosmap/teen-births/teenbirths.htm
# birth rate is (number of births) x 1000 / estimated population at mid-year
preg_data = os.path.join('Resources','TEENBIRTHS2016.csv')
preg_data_df = pd.read_csv(preg_data)
preg_data_df.head()

  STATE  RATE                                               URL
0    AL  28.4        /nchs/pressroom/states/alabama/alabama.htm
1    AK  25.8          /nchs/pressroom/states/alaska/alaska.htm
2    AZ  23.6        /nchs/pressroom/states/arizona/arizona.htm
3    AR  34.6      /nchs/pressroom/states/arkansas/arkansas.htm
4    CA  17.0  /nchs/pressroom/states/california/california.htm

In [28]:
# teen pregnancy rate by state data map
trc = dict(type='choropleth', locations=preg_data_df["STATE"], locationmode='USA-states', colorscale='Picnic',
          z=preg_data_df["RATE"], colorbar = dict(
            title = "Percent (%)"))

layout=dict(geo=dict(scope='usa'),  title = 'Teen Pregnancy Rates per State')
map=go.Figure(data=[trc], layout=layout)

py.iplot(map)

### Spending per Student by State ###

In [30]:
# import csv and create dataframe
#https://www.census.gov/data/tables/2014/econ/school-finances/secondary-education-finance.html
stu_spend = os.path.join('Resources','studentspending.csv')
stu_spend_df = pd.read_csv(stu_spend)
stu_spend_df.head()

  State  Spending per Student
0    DC              29865.60
1    NY              23326.89
2    CT              20576.57
3    NJ              20525.21
4    AK              20403.77

In [31]:
# spending per student by state data map
trc = dict(type='choropleth', locations=stu_spend_df["State"], locationmode='USA-states', colorscale='Viridis',
          z=stu_spend_df["Spending per Student"], colorbar = dict(title = "Thousands of Dollars"))
lyt=dict(geo=dict(scope='usa'), title = 'Spending per Student by State')
map=go.Figure(data=[trc], layout=lyt)
py.iplot(map)

### Average SAT Scores by State ###

In [32]:
# import csv and create dataframe
sat_scores = os.path.join('Resources', 'SATscores.csv')
sat_df = pd.read_csv(sat_scores)
sat_df.head()

  State      State1  Average New SAT Score Participation Rate
0    AL     Alabama                    998                 7%
1    AK      Alaska                   1037                54%
2    AZ     Arizona                   1045                36%
3    AR    Arkansas                   1034                 4%
4    CA  California                   1053                60%

In [33]:
# average SAT scores by state data map
sat_df = dict(type='choropleth', locations=sat_df['State'], locationmode='USA-states', colorscale='Blues',
        z=sat_df['Average New SAT Score'], colorbar = dict(
          title = "Average SAT Score"))

layout=dict(geo=dict(scope='usa'),  title = 'Average SAT Score per State')
map=go.Figure(data=[sat_df], layout=layout)

py.iplot(map)

### Average Graduation Rates by State ###

In [34]:
# import csv and create dataframe
grad_rates = os.path.join('Resources','gradrates.csv')
grad_df = pd.read_csv(grad_rates)
grad_df.head()

,State,State1,Average Rate,American Indian/Alaska Native,Asian/Pacific Islander,Hispanic,Black,White
0,AL,Alabama,0.871,0.900,0.910,0.870,0.845,0.886
1,AK,Alaska,0.761,0.640,0.810,0.760,0.740,0.808
2,AZ,Arizona,0.795,0.677,0.890,0.764,0.755,0.840
3,AR,Arkansas,0.870,0.870,0.870,0.857,0.815,0.892
4,CA,California,0.830,0.740,0.929,0.800,0.730,0.880

In [36]:
# assigning object type as strings
for col in grad_df.columns:
    grad_df[col] = grad_df[col].astype(str)

# average graduation rates by state data map
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

grad_df['State1'] = grad_df['State1'] + '<br>' +\
    'Average Rate: '+grad_df['Average Rate']+\
    'Average American Indian/Alaska Native Rate: '+grad_df['American Indian/Alaska Native']+\
    'Average Asian/Pacific Islander Rate: '+grad_df['Asian/Pacific Islander']+\
    'Average Hispanic Rate: '+grad_df['Hispanic']+\
    'Average Black Rate: '+grad_df['Black']+\
    'Average White Rate: '+grad_df['White']
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = grad_df['State1'],
        z = grad_df['Average Rate'].astype(float),
        locationmode = 'USA-states',
        text = grad_df['State1'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Average Graduation Rates")
        ) ]
layout = dict(
        title = 'Average Graduation Rates per State<br>(Hover for breakdown for each rate)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
map=go.Figure(data=data, layout=layout)
py.iplot(map)

### Average Teacher Salary by State ###

In [42]:
teacher_salary = os.path.join('Resources', 'teachersalary.csv')
teacher_df = pd.read_csv(teacher_salary)
teacher_df.head()

  State      STATE1  AVERAGE STARTING SALARY  AVERAGE SALARY
0    AL     Alabama                    36198           47949
1    AK      Alaska                    44166           65468
2    AZ    Arkansas                    32691           46632
3    AR     Arizona                    31874           49885
4    CA  California                    41259           69324

In [47]:
for col in teacher_df.columns:
    teacher_df[col] = teacher_df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

teacher_df['State'] = teacher_df['State'] + '<br>' +\
    'Starting Salary: ' +teacher_df['AVERAGE STARTING SALARY'] +\
    'Average Salary: '+teacher_df['AVERAGE SALARY']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = teacher_df['State'],
        z = teacher_df['AVERAGE SALARY'].astype(float),
        locationmode = 'USA-states',
        text = teacher_df['State'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Teacher Average Salary")
        ) ]

layout = dict(
        title = 'Average Teacher Salaries in Each State (2017)<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

### High School Grad Rates ###

In [49]:
# importing csv and creating dataframe ***need csv
# csv=pd.read_csv('hsgraddata.csv')

# hsgraddf=pd.DataFrame(csv)
# hsgraddf

In [50]:
#hsgraddf=pd.DataFrame(csv)
#hsgraddf.drop['Unnamed:0']

In [51]:
# trc = dict(type='choropleth', locations=['US','AL','AK','AZ','AR','CA','CO','CT','DE','DOC','FL','GA','HI','ID','IL','IN','IA',
#                                          'KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM',
#                                          'NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA',
#                                          'WV','WI','WY']
# , locationmode='USA-states', colorscale='Picnic',
#           z=hsgraddf['2014-15'], colorbar = dict(
#            title = 'Percent (%)'))
# lyt=dict(geo=dict(scope='usa'))
# map=go.Figure(data=[trc], layout=lyt)
# py.iplot(map)

### note sure which data this is??? ###

In [54]:
# https://nces.ed.gov/ccd/tables/ACGR_RE_and_characteristics_2015-16.asp
# excel file is not uploaded onto git

# data1 = pd.read_excel ('ACGR_RE_Characteristics_2015-16.xlsx')
# data1.head()

In [55]:
# data2 = pd.read_excel('Extra_data_AppendixG.xlsx')
# data2.head()

In [56]:
#merged both dataframes
# df = pd.merge(data1, data2, on = 'State')
# df

In [ ]:
# data map of the data
# trc = dict(
#   type ='choropleth', locations = df['Abb'], locationmode = 'USA-states', colorscale='Rainbow', z=df["Total"])

# lyt = dict(geo = dict(scope ='usa'))
# map = go.Figure(data=[trc],
# layout = lyt)
# py.iplot(map)