In [33]:
# dependencies
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.plotly as py
import plotly.graph_objs as go

In [34]:
# plotly credentials
import config
username = config.username
api_key = config.api_key
plotly.tools.set_credentials_file(username=username, api_key=api_key)

NameError: name 'plotly' is not defined

### School Funding (Revenue) by State ###

In [18]:
# uploading csv and creating dataframe
rev_data = os.path.join('Resources','Stfis14_1a.csv')
rev_data_df = pd.read_csv(rev_data)
rev_data_df.head()

,SURVYEAR,FIPS,STABR,STNAME,R1A,R1B,R1C,R1D,R1E,R1F,...,A14B,PPE15,MEMBR13,ARRASTE1,ARRATE5,ARRAE81Z,ARRATE10,ARRASTE6,ARRATLEIZ,ARRASTE4
0,2014,1,AL,Alabama,-2,-2,1128860063,621382410,6131559,1033208,...,706566,8767,746204,805460,1404270,17206,0,15000,107591,0
1,2014,2,AK,Alaska,-2,-2,295232764,161453827,142222,159692,...,-2,19699,130944,20946,46923,0,0,0,0,0
2,2014,4,AZ,Arizona,2979308590,-2,-2,66772046,5748335,18493579,...,-2,7783,1102445,0,0,0,0,0,0,0
3,2014,5,AR,Arkansas,1619649401,1223591,-2,11117198,10086128,2445184,...,-2,9946,489979,1175969,4031513,0,72883,0,0,0
4,2014,6,CA,California,18407152429,933627693,168400,-2,1117595,371734184,...,-2,9740,6312623,22075494,37624403,402380,166270,0,29240684,0

In [19]:
# filtering out the wanted data
rev_data_df = rev_data_df[["SURVYEAR", "STABR", "STNAME", "STR1", "R3", "STR4", "TR", "E11", "E11A"]]
rev_data_df.head()

,SURVYEAR,STABR,STNAME,STR1,R3,STR4,TR,E11,E11A
0,2014,AL,Alabama,2479526880,4065545836,838649689,7396933084,2495972800,1775677776
1,2014,AK,Alaska,529595705,1835601093,312161832,2677358630,688001845,-1
2,2014,AZ,Arizona,3899570304,4217359201,1203567314,9594427770,3039539648,2013800192
3,2014,AR,Arkansas,1872187527,2665329194,592246357,5133841370,1818164198,1170635549
4,2014,CA,California,23107204742,39293076276,6942639777,69342920795,23880538763,17076582010

In [36]:
# using csv file key to rename columns
renamed_df = rev_data_df.rename(columns={"SURVYEAR":"YEAR", "STABR":"ST", "STNAME":"STATE", 
                                         "STR1":"LOCAL REVENUES SUBTOTAL", 
                                        "R3":"STATE REVENUES", "STR4":"FEDERAL REVENUES SUBTOTAL", 
                                        "TR":"TOTAL REVENUES FROM ALL SOURCES", 
                                         "E11":"INSTRUCTIONAL EXPENDITURES SALARIES", 
                                        "E11A":"TEACHER SALARIES REGULAR PROGRAMS"})
renamed_df.head()

,YEAR,ST,STATE,LOCAL REVENUES SUBTOTAL,STATE REVENUES,FEDERAL REVENUES SUBTOTAL,TOTAL REVENUES FROM ALL SOURCES,INSTRUCTIONAL EXPENDITURES SALARIES,TEACHER SALARIES REGULAR PROGRAMS
0,2014,AL,Alabama,2479526880,4065545836,838649689,7396933084,2495972800,1775677776
1,2014,AK,Alaska,529595705,1835601093,312161832,2677358630,688001845,-1
2,2014,AZ,Arizona,3899570304,4217359201,1203567314,9594427770,3039539648,2013800192
3,2014,AR,Arkansas,1872187527,2665329194,592246357,5133841370,1818164198,1170635549
4,2014,CA,California,23107204742,39293076276,6942639777,69342920795,23880538763,17076582010

In [23]:
# school funding (revenue) by state data in map
trc = dict(type='choropleth', locations=renamed_df["ST"], locationmode='USA-states', colorscale='Greens',
          z=renamed_df["TOTAL REVENUES FROM ALL SOURCES"], colorbar = dict(
            title = "Billions of Dollars"))

layout=dict(geo=dict(scope='usa'),  title = 'School Funding (Revenue) by State')
map=go.Figure(data=[trc], layout=layout)

py.iplot(map)

### Teen Pregnancy Rate by State ###

In [37]:
# import super janky csv and create dataframe
#https://www.cdc.gov/nchs/pressroom/sosmap/teen-births/teenbirths.htm
# birth rate is (number of births) x 1000 / estimated population at mid-year
preg_data = os.path.join('Resources','TEENBIRTHS2016.csv')
preg_data_df = pd.read_csv(preg_data)
preg_data_df = preg_data_df.rename(columns={"STATE":"ST"})
preg_data_df.head()

   ST  RATE                                               URL
0  AL  28.4        /nchs/pressroom/states/alabama/alabama.htm
1  AK  25.8          /nchs/pressroom/states/alaska/alaska.htm
2  AZ  23.6        /nchs/pressroom/states/arizona/arizona.htm
3  AR  34.6      /nchs/pressroom/states/arkansas/arkansas.htm
4  CA  17.0  /nchs/pressroom/states/california/california.htm

In [28]:
# teen pregnancy rate by state data map
trc = dict(type='choropleth', locations=preg_data_df["STATE"], locationmode='USA-states', colorscale='Picnic',
          z=preg_data_df["RATE"], colorbar = dict(
            title = "Percent (%)"))

layout=dict(geo=dict(scope='usa'),  title = 'Teen Pregnancy Rates per State')
map=go.Figure(data=[trc], layout=layout)

py.iplot(map)

### Spending per Student by State ###

In [48]:
# import csv and create dataframe
#https://www.census.gov/data/tables/2014/econ/school-finances/secondary-education-finance.html
stu_spend = os.path.join('Resources','studentspending.csv')
stu_spend_df = pd.read_csv(stu_spend)
stu_spend_df = stu_spend_df.rename(columns={"State":"ST"})
stu_spend_df.head()

   ST  Spending per Student
0  DC              29865.60
1  NY              23326.89
2  CT              20576.57
3  NJ              20525.21
4  AK              20403.77

In [31]:
# spending per student by state data map
trc = dict(type='choropleth', locations=stu_spend_df["State"], locationmode='USA-states', colorscale='Viridis',
          z=stu_spend_df["Spending per Student"], colorbar = dict(title = "Thousands of Dollars"))
lyt=dict(geo=dict(scope='usa'), title = 'Spending per Student by State')
map=go.Figure(data=[trc], layout=lyt)
py.iplot(map)

### Average SAT Scores by State ###

In [49]:
# import csv and create dataframe
sat_scores = os.path.join('Resources', 'SATscores.csv')
sat_df = pd.read_csv(sat_scores)
sat_df = sat_df.rename(columns={"State":"ST"})
sat_df.head()

   ST      State1  Average New SAT Score Participation Rate
0  AL     Alabama                    998                 7%
1  AK      Alaska                   1037                54%
2  AZ     Arizona                   1045                36%
3  AR    Arkansas                   1034                 4%
4  CA  California                   1053                60%

In [33]:
# average SAT scores by state data map
sat_df = dict(type='choropleth', locations=sat_df['State'], locationmode='USA-states', colorscale='Blues',
        z=sat_df['Average New SAT Score'], colorbar = dict(
          title = "Average SAT Score"))

layout=dict(geo=dict(scope='usa'),  title = 'Average SAT Score per State')
map=go.Figure(data=[sat_df], layout=layout)

py.iplot(map)

### Average Graduation Rates by State ###

In [54]:
# import csv and create dataframe
grad_rates = os.path.join('Resources','gradrates.csv')
grad_df = pd.read_csv(grad_rates)
grad_df = grad_df.rename(columns={"State":"ST"})
grad_df.head()

,ST,State1,Average Rate,American Indian/Alaska Native,Asian/Pacific Islander,Hispanic,Black,White
0,AL,Alabama,0.871,0.900,0.910,0.870,0.845,0.886
1,AK,Alaska,0.761,0.640,0.810,0.760,0.740,0.808
2,AZ,Arizona,0.795,0.677,0.890,0.764,0.755,0.840
3,AR,Arkansas,0.870,0.870,0.870,0.857,0.815,0.892
4,CA,California,0.830,0.740,0.929,0.800,0.730,0.880

In [36]:
# assigning object type as strings
for col in grad_df.columns:
    grad_df[col] = grad_df[col].astype(str)

# average graduation rates by state data map
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

grad_df['State1'] = grad_df['State1'] + '<br>' +\
    'Average Rate: '+grad_df['Average Rate']+\
    'Average American Indian/Alaska Native Rate: '+grad_df['American Indian/Alaska Native']+\
    'Average Asian/Pacific Islander Rate: '+grad_df['Asian/Pacific Islander']+\
    'Average Hispanic Rate: '+grad_df['Hispanic']+\
    'Average Black Rate: '+grad_df['Black']+\
    'Average White Rate: '+grad_df['White']
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = grad_df['State1'],
        z = grad_df['Average Rate'].astype(float),
        locationmode = 'USA-states',
        text = grad_df['State1'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Average Graduation Rates")
        ) ]
layout = dict(
        title = 'Average Graduation Rates per State<br>(Hover for breakdown for each rate)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
map=go.Figure(data=data, layout=layout)
py.iplot(map)

### Average Teacher Salary by State ###

In [55]:
teacher_salary = os.path.join('Resources', 'teachersalary.csv')
teacher_df = pd.read_csv(teacher_salary)
teacher_df = teacher_df.rename(columns={"State":"ST"})
teacher_df.head()

   ST      STATE1  AVERAGE STARTING SALARY  AVERAGE SALARY
0  AL     Alabama                    36198           47949
1  AK      Alaska                    44166           65468
2  AZ    Arkansas                    32691           46632
3  AR     Arizona                    31874           49885
4  CA  California                    41259           69324

In [47]:
for col in teacher_df.columns:
    teacher_df[col] = teacher_df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

teacher_df['State'] = teacher_df['State'] + '<br>' +\
    'Starting Salary: ' +teacher_df['AVERAGE STARTING SALARY'] +\
    'Average Salary: '+teacher_df['AVERAGE SALARY']

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = teacher_df['State'],
        z = teacher_df['AVERAGE SALARY'].astype(float),
        locationmode = 'USA-states',
        text = teacher_df['State'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Teacher Average Salary")
        ) ]

layout = dict(
        title = 'Average Teacher Salaries in Each State (2017)<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )

### High School Grad Rates ###

In [7]:
# importing csv and creating dataframe ***need csv

csv = os.path.join('Resources', 'hsgraddata.csv')
hsgraddf = pd.read_csv(csv)
hsgraddf.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2014-15,White,Black,Hispanic,Asian/ Pacific Islander\2\,American Indian/ Alaska Native,Students with disabil-ities\3\,Limited English profi-cient\4\,Economically disadvan-taged\5\
0,United States,NaN,NaN,83,88,75,78,90.0,72.0,65,65,76
1,Alabama,NaN,NaN,89,91,87,90,93.0,90.0,72,75,85
2,Alaska,NaN,NaN,76,80,71,72,83.0,64.0,57,56,67
3,Arizona,NaN,NaN,77,83,73,73,87.0,67.0,64,34,73
4,Arkansas,NaN,NaN,85,87,78,85,86.0,80.0,82,86,82

In [9]:
# not too sure what you were trying to do here?
#hsgraddf=pd.DataFrame(csv)
hsgraddf.drop['Unnamed:0']

TypeError: 'method' object is not subscriptable

In [11]:
trc = dict(type='choropleth', locations=['US','AL','AK','AZ','AR','CA','CO','CT','DE','DOC','FL','GA','HI','ID','IL','IN','IA',
                                         'KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM',
                                         'NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA',
                                         'WV','WI','WY']
, locationmode='USA-states', colorscale='Picnic',
           z=hsgraddf['2014-15'], colorbar = dict(
            title = 'Percent (%)'))
lyt=dict(geo=dict(scope='usa'))
map=go.Figure(data=[trc], layout=lyt)
py.iplot(map)

### note sure which data this is??? ###

In [15]:
# https://nces.ed.gov/ccd/tables/ACGR_RE_and_characteristics_2015-16.asp
# excel file is not uploaded onto git

#data1 = pd.read_excel ('Resources','ACGR_RE_Characteristics_2015-16.xlsx')
#data1.head()

data = os.path.join('Resources', 'ACGR_RE_Characteristics_2015-16.xlsx')
data1 = pd.read_excel(data)
data1.head()

,Table 1.,"Public high school 4-year adjusted cohort graduation rate (ACGR), by race/ethnicity and selected demographic characteristics for the United States, the 50 states, and the District of Columbia: School year 2015â€“16",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,State,NaN,Percent of students,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Asian/Pacific Islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Total,American Indian / Alaska Native,NaN,Total,Asian1,Hawaiian Native/Pacific Islander1,NaN,Hispanic,Black,White,Two or more races1,Economically disadvantaged,Limited English proficiency,Students with disabilities
3,United States2,NaN,84.1,71.9,NaN,90.8,â€”,â€”,NaN,79.3,76.4,88.3,â€”,77.6,66.9,65.5
4,Alabama,NaN,87.1,90,NaN,91,â€”,â€”,NaN,87,84.5,88.6,89,80.9,64,54.1

In [63]:
#data2 = pd.read_excel('Extra_data_AppendixG.xlsx')
#data2.head()

data_2 = os.path.join('Resources', 'Main_data_AppendixG.xlsx')
data2 = pd.read_excel(data_2)
data2.head()

,Abb,State,"Gap between Non-Low Income and Low-Income ACGR (Percentage Points), 2011",Overall 2015 ACGR(%),"Percent of Low-Income Students in the Cohort, 2015 (%)",Estimated Non-Low-Income 2015 ACGR(%),Low-Income 2015 ACGR(%),"Gap between Non-Low Income and Low-Income ACGR (Percentage Points, 2015","Gap Change between Non-Low-Income and Low-Income ACGR (Percentage points), 2011-15"
0,AL,Alabama*,19.73,0.893,0.495,0.938,0.847,9.1,10.6
1,AK,Alaska,18.28,0.756,0.358,0.806,0.666,14.0,4.2
2,AZ,Arizona,7.94,0.774,0.397,0.802,0.731,7.1,0.8
3,AR,Arkansas,12.14,0.849,0.496,0.881,0.817,6.4,5.8
4,CA,California,15.49,0.820,0.672,0.902,0.780,12.2,3.3

In [64]:
#merged both dataframes
df = pd.merge(data1, data2, on = 'State')
df

KeyError: 'State'

In [ ]:
# data map of the data
# trc = dict(
#   type ='choropleth', locations = df['Abb'], locationmode = 'USA-states', colorscale='Rainbow', z=df["Total"])

# lyt = dict(geo = dict(scope ='usa'))
# map = go.Figure(data=[trc],
# layout = lyt)
# py.iplot(map)

### Merginggggg Forevvvverrrrr ###

In [65]:
# merging school funding and pregnancy rate
merge_table = pd.merge(renamed_df, preg_data_df, on="ST", how="outer")
#merge_table.head()

In [43]:
merge_table = merge_table[["ST","STATE REVENUES", "FEDERAL REVENUES SUBTOTAL", 
                           "TOTAL REVENUES FROM ALL SOURCES","RATE"]]

In [66]:
final_merge = merge_table.rename(columns={"RATE":"PREGNANCY RATE"})
#final_merge.head()

In [67]:
# merging spending per student and average SAT
merge2 = pd.merge(sat_df, stu_spend_df, on="ST", how="outer")
#merge2.head()

In [68]:
merge2 = merge2[["ST","Average New SAT Score", "Spending per Student"]]
#merge2.head()

In [69]:
# merging school funding, pregnancy rate, spending per student, and average SAT
merge3 = pd.merge(merge2, final_merge, on="ST", how="outer")
#merge3.head()

In [70]:
# merging average graduation rates and average teacher salary
merge4 = pd.merge(grad_df, teacher_df, on="ST", how="outer")
merge4 = merge4[["ST","Average Rate", "American Indian/Alaska Native", "Asian/Pacific Islander", "Hispanic", "Black",
                "White", "AVERAGE STARTING SALARY", "AVERAGE SALARY"]]

#merge4.head()

In [71]:
merge4_fin = merge4.rename(columns={"Average Rate":"Average Graduation Rate", 
                                        "American Indian/Alaska Native":"Average Graduation Rate (American Indian/Alaska Native)",
                                       "Asian/Pacific Islander":"Average Graduation Rate (Asian/Pacific Islander)",
                                       "Hispanic":"Average Graduation Rate (Hispanic)",
                                       "Black":"Average Graduation Rate (Black)",
                                       "White":"Average Graduation Rate (White)",
                                       "AVERAGE STARTING SALARY":"Average Starting Teacher Salary",
                                   "AVERAGE SALARY":"Average Teacher Salary"})
#merge4_fin.head()

In [62]:
compiled1 = pd.merge(merge4_fin, merge3, on="ST", how="outer")
compiled1.head()

,ST,Average Graduation Rate,Average Graduation Rate (American Indian/Alaska Native),Average Graduation Rate (Asian/Pacific Islander),Average Graduation Rate (Hispanic),Average Graduation Rate (Black),Average Graduation Rate (White),Average Starting Teacher Salary,Average Teacher Salary,Average New SAT Score,Spending per Student,STATE REVENUES,FEDERAL REVENUES SUBTOTAL,TOTAL REVENUES FROM ALL SOURCES,PREGNANCY RATE
0,AL,0.871,0.900,0.910,0.870,0.845,0.886,36198.0,47949.0,998.0,9938.84,4.065546e+09,8.386497e+08,7.396933e+09,28.4
1,AK,0.761,0.640,0.810,0.760,0.740,0.808,44166.0,65468.0,1037.0,20403.77,1.835601e+09,3.121618e+08,2.677359e+09,25.8
2,AZ,0.795,0.677,0.890,0.764,0.755,0.840,32691.0,46632.0,1045.0,8786.17,4.217359e+09,1.203567e+09,9.594428e+09,23.6
3,AR,0.870,0.870,0.870,0.857,0.815,0.892,31874.0,49885.0,1034.0,10785.03,2.665329e+09,5.922464e+08,5.133841e+09,34.6
4,CA,0.830,0.740,0.929,0.800,0.730,0.880,41259.0,69324.0,1053.0,11222.72,3.929308e+10,6.942640e+09,6.934292e+10,17.0